.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #e72727;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}

button {
  font-size: 18px;
  padding: 15px 30px;
  border: none;
  border-radius: 12px;
  background-color: #e72727;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #e72727;
}

.admin-page {
  width: 100%;
  max-width: 100%;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.admin-table {
  min-width: 1400px;
}

.container.admin-page {
  width: 95% !important;
  max-width: 1900px !important;
}

.container.admin-page .admin-box {
  width: 100% !important;
  max-width: 100% !important;
}

.container.admin-page .table-wrapper {
  width: 100% !important;
  overflow-x: auto !important;
}

.container.admin-page .admin-table {
  width: 100% !important;
  min-width: 1200px !important;
}